<header *ngIf="restaurant">
  <div>
    <div class="name">{{ restaurant.name }}</div>
    <div class="category">{{ restaurant.category }}</div>
  </div>
</header>
<div #gmap class="gmap"></div>
<div class="details" *ngIf="restaurant">
  <div class="address" *ngIf="restaurant.location">
    {{ restaurant.location.formattedAddress[0] }}<br />
    {{ restaurant.location.formattedAddress[1] }}
  </div>
  <div class="phone" *ngIf="restaurant.contact">{{ restaurant.contact.formattedPhone }}</div>
  <div class="twitter" *ngIf="restaurant.contact">
    <span *ngIf="restaurant.contact.twitter">@{{ restaurant.contact.twitter }}</span>
  </div>
</div>
